.carY {
  top: -10%;
  animation-name: moveDown;
}
.carY-1 {
  right: 45%;
}
.carY-2 {
  right: 42%;
}

.car-Y {
  bottom: -10%;
  /* left: 45%; */
  animation-name: moveUp;
}
.car-Y-1 {
  left: 45%;
}
.car-Y-2 {
  left: 42%;
}

.carX {
  left: -10%;
  /* bottom: 45%; */
  transform: rotateZ(90deg);
  animation-name: moveLeft;
}
.carX-1 {
  bottom: 45%;
}
.carX-2 {
  bottom: 42%;
}

.car-X {
  right: -10%;
  top: 45%;
  transform: rotateZ(90deg);
  animation-name: moveRight;
}
.car-X-1 {
  top: 45%;
}
.car-X-2 {
  top: 42%;
}