
.personY-1 {
  right: 39%;
}
.personY-2 {
  left: 39%;
}
.person-Y-1 {
  left: 62%;
}
.person-Y-2 {
  left: 36%;
}

.personX-1 {
  top: 39%;
}
.personX-2 {
  bottom: 39%;
}
.person-X-1 {
  top: 62%;
}
.person-X-2 {
  top: 36%;
}